@use '../../partials/variables' as *;

.footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    & li {
        margin-bottom: 1rem;
        font-size: 11px;
        color: $link-dark-two;
    }
}