@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__nav{

        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &-group{

            @include tablet{
                margin-right: 7rem;
            }
        }
    }

    &__base{

        &-list{
            display: flex;
            flex-wrap: wrap;
            width: 85%;

            @include tablet{
                width: 110%;
                margin-bottom: 2rem;
            }
        }

        & span {
            color: $link-dark-two;
            font-weight: 300;
            font-size: 11px;
            margin-right: 1rem;
            margin-bottom: .25rem;

            @include tablet{
                margin-right: 2rem;
            }
        }
    }

    & li {
        margin-bottom: 1rem;
        font-size: 11px;
        color: $link-dark-two;
    }
}