@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header{
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    width: 100%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
    background-color: $primary-one;

    &__nav{

        &-burger{
            width: 20px;
            margin-left: .5rem;
            margin-right: 2rem;

            &--close{
                @extend .header__nav-burger;
                width: 20px;
            }
        }

        &-open{
            height: fit-content;
            background-color: rgb(242, 242, 242);
            margin: 0;
            padding: 0;
            position: absolute;
            top: 3.5rem;
            z-index: 20;
            width: 100%;
        }

        &-listitem{
            list-style: none;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        }

    }

    &__actions{
        display: flex;
        // justify-content: space-between;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        & span {
            font-weight: 300;
            color: $primary-three;
        }
    }

    &__search{
        width: 20px;
        transform: rotateY(180deg);
    }

    &__logo{
        width: 108px;
        margin-left: .5rem;
    }

    &__cart{
        width: 22.5px;
        height: 19px;
    }
}