// Media Query Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary Colors
$primary-one: #FFF;
$primary-two: #107c10;
$primary-three: #000;

//Secondary Colors
$secondary-one: #333;
$secondary-two: #9BF00B;
$secondary-three: #054b16;


//Link Colors
$link-dark: #262626;