@use './partials/fonts';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

ul {
  list-style: none;
  padding: 0;
}